{% load static %}
<!--<footer>-->

<!--  <div class="">-->
<!--    <p>&copy; 2024 theslambook.com. All rights reserved.</p>-->
<!--  </div>-->
<!--</footer>-->
<!--w3-container w3-teal w3-center w3-margin-top-->
<footer style="background-color: #4D636F">
  <p>Connect with Slambook</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>&copy; 2024 theslambook.com. All rights reserved.</p>
</footer>

