{% load static %}

<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a href="{% url 'post:home' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
                class="fa fa-home w3-margin-right"></i>the slambook</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large " title="News"><i
                class="fa fa-globe"></i></a>
        <a href="{% url 'account:get_friends' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large "
           title="Friends"><i class="fa fa-user"></i></a>
        <a href="{% url 'account:chat_all' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large "
           title="Messages"><i class="fa fa-envelope"></i></a>

        <div class="w3-dropdown-hover w3-hide-small">
            <a class="w3-button w3-padding-large" href="{% url 'account:notification' %}" title="Notifications">
                <i class="fa fa-bell"></i>
                <span class="w3-badge w3-right w3-small w3-green">{{ notification_count }}</span>
            </a>
        </div>

        <a href="{% url 'account:logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large "
           title="LogOff"><i class="fa fa-sign-out"></i></a>

        <!-- Search bar moved to the right -->
        <form method="post" action="{% url 'post:search' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large">
            {% csrf_token %}
            <input type="text" name="search_query" id="searchInput" placeholder="Search..">
            <button type="submit">Search</button>
        </form>

        <div class="w3-bar-item w3-right">
            <a href="{% url 'account:profile' request.user.id %}" class="w3-left w3-margin-right">
                <img src="{{ request.user.profile_picture.url }}" alt="Profile Image" class="w3-circle" style="width:40px; height:40px">
            </a>
            <a href="{% url 'account:profile' request.user.id %}">...{{ request.user.first_name }}</a>
        </div>
<!--obj.first_name-->
    </div>
</div>

<!-- Navbar on small screens -->
