{% extends 'post/base.html' %}
{% load static %}


{% block content %}
    <h2 class="text-center mb-4">My Photos</h2>

<div class="container mt-4">
    <div class="row">
        {% for picture in pictures %}
            <div class="col-md-4 mb-4">
                <div class="image-container" style="width: 100%;
            height: auto;">
                    <img src="{{picture.image.url}}" class="img-fluid" alt="Image" style="position: relative;
            overflow: hidden;
            height: 300px;">
                    <div class="like-count" style="position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 5px;">
                        Likes: {{ picture.likes.count }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}